<div class="form-group">
  <%= label :secret, :url, 'Secret Message URL' %>
  <%= text_area :secret,
    :url,
    class: 'form-control',
    readonly: true,
    rows: 2
  %>
</div>

<p class="lead">
  <%= button_tag 'Copy to Clipboard',
    class: 'btn btn-lg btn-secondary',
    'data-clipboard-target': '#secret_url'
  %>
</p>
