<%= form_for @secret, url: { action: 'create' } do |f| %>
<div class="form-group">
  <%= f.label :text, 'Secret Message' %>
  <%= f.text_area :text, rows: '10', class: 'form-control' %>
</div>
<p class="lead">
  <%= submit_tag 'Create', class: 'btn btn-lg btn-secondary' %>
</p>
<% end %>
