<% if @secret.present? %>

<div class="form-group">
  <%= label :secret, :text, 'Secret Message' %>
  <%= text_area :secret,
    :text,
    rows: '10',
    class: 'form-control',
    readonly: true
  %>
</div>

<p class="lead">
  <%= button_tag 'Copy to Clipboard',
    class: 'btn btn-lg btn-secondary',
    'data-clipboard-target': '#secret_text'
  %>
</p>

<% else %>

<div class="alert alert-dark" role="alert">
  <h4 class="alert-heading">Secret Message is Not Accessible</h4>
  <p>The secret message for this URL has already been accessed and deleted, or the URL is invalid.</p>
</div>

<% end %>
